*, *::before, *::after {
  box-sizing: border-box
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    color: #242424;
    min-height: 100vh;
    min-width: 320px;
  }

  h1 {
    @apply text-5xl leading-5;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  img {
    @apply max-w-full h-auto;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

}

.hero-img {
  background-image: url('/public/hero-background.jpg');
  background-size: cover;
}